*{
    font-family: var(--Roboto);
}

.container{
    max-width: 1440px;
    padding: 0px 80px;
    margin: 0 auto;
}

.line {
    max-width: 100%;
    height: 0px;
    border-bottom: 1px #E2E8F0 solid;
}