* {
    font-family: var(--Roboto);
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1440px;
    padding: 0px 80px;
    margin: 0 auto;
}

.line {
    max-width: 100%;
    height: 0px;
    border-bottom: 1px #E2E8F0 solid;
}
    
@media (max-width: 393px) {
        .container{max-width: 393px;}
        .container:not(:first-child){padding:0px 16px ;}
        .container:first-child {padding:0px;}
    }