/*@media (max-width: 393px) {
        .container{max-width: 393px;}
        .container:not(:first-child){padding:0px 16px ;}
        .container:first-child {padding:0px;}
        .header__btn{display: none;}
        .header__list{display: none;}
        .header__logo{margin:16px 0px 16px 16px;}
        .team__inner-title{font-size: 40px;font-weight: 700;}
        .team__inner{max-width: 361px;margin: 48px 0px 32px 0px;}
        .team__inner-info{color: var(--blue-gray-900);}
        .team{flex-wrap: wrap;}
        .team__input{max-width:max-content;padding-left: 16px;margin: 0 auto;}
        .team__img{margin: 0px 0px 96px 0px;}
        .input__btn{padding-right: 0px;max-width: 160px;gap: 8px;margin: 0 auto;}
        .team__input-img{display: none;}
        .enjoy{flex-wrap: wrap-reverse;}
        .enjoy__inner{margin: 48px 0px 32px 0px;}
        .enjoy__inner-title{font-size: 40px;}
        .enjoy__inner-info{color: var(--blue-gray-900);}
        .enjoy__img{display: none;}
        .enjoy__img-mob{margin: 0px 0px 48px 0px; align-items: center; display: block; width: 345px;height: 345px;}
        .problems{padding:48px 24px ; border-radius: 0px; margin:0px -16px 0px -16px;background-image: url(/images/shariki_mob.png);}
        .problems__inner-title{font-size: 40px; font-weight: 700;}
        .footer{flex-wrap: wrap;}
        .footer__left{display: block;margin-bottom: 28px;}
        .footer__logo{margin:24px 0px  16px 0px;}
        .footer__list{margin-bottom: 36px;gap: 27px;flex-wrap: wrap;justify-content: center;}
        .input{flex-wrap: wrap; padding:0px 16px;}
        
}   не ну это же реально страшно