.footer {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.footer__left {
    display: flex;
    gap: 8px;
    color: var(--blue-gray-600);
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
}

.footer__list {
    display: flex;
    gap: 24px;
    margin-bottom: 80px;
}

.footer__list-item {
    color: var(--blue-gray-600);
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
}

.footer__logo{
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    vertical-align: middle;
    color:  var(--blue-gray-900);
}
@media (max-width: 393px) {
        .footer{flex-wrap: wrap;}
        .footer__left{display: block;margin-bottom: 28px;}
        .footer__logo{margin:24px 0px  16px 0px;}
        .footer__list{margin-bottom: 36px;gap: 27px;flex-wrap: wrap;justify-content: center;}    
}   
